{% extends "layout.html" %}


{% block heading %}
    <a href="{{ url_for('donate') }}">Read more ... </a>
{% endblock  %} 
   


{% block body %}
    <h1>{{content}}</h1>
    <section style="text-align:center">
        <form action="{{ url_for('donate') }}" method="post">
            <div class="form-group">
              <label for=""></label>
              <input type="text" class="form-control" name="name" id="" aria-describedby="helpId" placeholder="Enter Your Name">
              <input type="submit" id="" class="btn btn-primary" role="button"></a>
            </div>
        </form>
        
        <!-- {% if content %}
        <h1> Yes it's New Year, results came back as {{content}}</h1>
        {% else %}
        <h1>No it's not New Year, results came back as {{content}}</h1>
        {% endif %} -->
  
    </section>
{% endblock  %}